<h3 mat-dialog-title>BÚSQUEDA REPUESTO</h3>

<mat-dialog-content class="modal">

  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <mat-select 
    placeholder="Ingeniero"
    [(ngModel)]="dato"
    (selectionChange)="selectestado($event.value)"
    >
     <mat-option [value]="'Todos'">Todos</mat-option>  
     <mat-option [value]="'JOHANN DURAND'">JOHANN DURAND</mat-option>  
     <mat-option [value]="'CARLOS DORIVAL'">CARLOS DORIVAL</mat-option>  
     <mat-option [value]="'JESUS RAMOS'">JESUS RAMOS</mat-option>  
     <mat-option [value]="'DAVID CONCHA'">DAVID CONCHA</mat-option>  
     <mat-option [value]="'EDGAR CASTILLO'">EDGAR CASTILLO</mat-option>  
     <mat-option [value]="'MAX VERGARAY'">MAX VERGARAY</mat-option>  
     <mat-option [value]="'NOE ALARCON'">NOE ALARCON</mat-option>  
     <mat-option [value]="'JAVIER ZARATE'">JAVIER ZARATE</mat-option>  
     <mat-option [value]="'JORGE MORE'">JORGE MORE</mat-option>  
     <mat-option [value]="'MARCOS RODRIGUEZ'">MARCOS RODRIGUEZ</mat-option>
     <mat-option [value]="'Otros'">Otros</mat-option>  
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha </mat-label>
    <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
    [(ngModel)]="fechaSelectIni">
    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
    <mat-datepicker #fechaInicio></mat-datepicker>
  </mat-form-field>


</mat-dialog-content>

<div class="btnModal" align="end">
  <button mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
  <button mat-stroked-button class="btnYellow"(click)="limpiar()"><mat-icon>cleaning_services</mat-icon>Limpiar</button>
  <button mat-stroked-button class="btnBlue" (click)="buscar()"><mat-icon>search</mat-icon>Buscar</button>
</div>